/* Imported Poppins fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Store Colors for Gallery */
:root {
  --color-red: rgb(245, 79, 79);
  --body-background-color: rgb(194, 217, 235);
  --color-white: #fff;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --light-overlay-color: rgba(226, 226, 226, 0.5);
  --border-color: #333;
}

body {
  background-color: var(--body-background-color);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery_wrapper {
  width: 80%;
  margin: 40px auto;
  background-color: var(--color-white);
  border-radius: 20px;
}

.delete_text {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-red);
}

.gallery_heading_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 40px;
}

.gallery_heading_text {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.gallery_text_changing_wrapper {
  display: flex;
}

.selecting_heading_text {
  display: flex;
  gap: 10px;
}

.delete-button {
  color: rgb(237, 71, 71);
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.delete-button:hover {
  text-decoration: underline;
}

.add_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* height: 200px; */
  border: 1px solid var(--border-color);
  border-radius: 10px;
  border-style: dashed;
}

.add_image_icon {
  font-size: 25px;
}

.add_image_text {
  font-size: 18px;
  margin-bottom: 0;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.individual_gallery_photo {
  width: 100%;
  display: block;
  height: 100%;
}
.grid_style {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}

.conditional_image_size {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s; /* Add a smooth transition effect */
  border-radius: 8px;
  pointer-events: none;
}

.remove_opacity {
  display: none;
}

.light_overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-overlay-color);
  opacity: 1; /* Initially hidden */
  transition: opacity 0.3s; /* Add a smooth transition effect */
  border-radius: 8px;
  pointer-events: none;
}

.image-container:hover {
  cursor: grab;
}

.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.custom-checkbox-for-all {
  position: absolute;
  cursor: pointer;
  transform: scale(1.5);
  margin-top: 25px;
  margin-left: 25px;
  pointer-events: auto;
}

/* Responsive view mode design */
@media (max-width: 1024px) {
  /* Laptop Device  */
  .gallery_wrapper {
    width: 95%;
    margin: 40px 10px;
  }
  .grid_style {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Tablet Device */
@media (max-width: 768px) {
  .gallery_wrapper {
    width: 95%;
    margin: 40px 10px;
  }
  .grid_style {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Mobile Device */
@media (max-width: 425px) {
  .add_image_icon {
    font-size: 22px;
  }
  .add_image_text {
    font-size: 12px;
    margin-top: 5px;
  }
  .gallery_heading_text {
    font-size: 18px;
  }
  .delete-button {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .gallery_wrapper {
    width: 100%;
    margin: 40px 0px;
  }
  .grid_style {
    grid-template-columns: 1fr;
  }
  .conditional_image_size {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }
  .add_image_wrapper {
    height: 270px;
  }
  .add_image_icon {
    font-size: 25px;
  }
  .add_image_text {
    font-size: 16px;
    margin-top: 10px;
  }
}
